<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jafa.repository.MemberRepository">

    <resultMap type="memberVO" id="memberMap">
        <id property="memberId" column="memberId"/>
        <result property="memberId" column="memberId"/>
        <result property="memberPwd" column="memberPwd"/>
        <result property="memberName" column="memberName"/>
        <result property="email" column="email"/>
        <result property="enabled" column="enabled"/>
        <result property="regDate" column="regDate"/>
        <result property="updateDate" column="updateDate"/>
        <collection property="authList" resultMap="authMap"></collection>
    </resultMap>

    <resultMap type="authVO" id="authMap">
        <result property="memberId" column="memberId"/>
        <result property="auth" column="auth"/>
    </resultMap>

    <select id="read" resultMap="memberMap">
        select
        m.memberId, memberPwd, memberName,email, enabled,
        regDate, updateDate, a.auth
        from tbl_member m left outer join tbl_member_auth a
        on m.memberId = a.memberId
        where m.memberId = #{memberId}
    </select>
</mapper>